           @viewport {
                width: device-width;
                zoom: 1.0;
            }
            
            @-ms-viewport {
                width: device-width;
            }
            
            .header {
                position: inherit;
                text-align: center;
                top: 0;
                left: 0;
                right: 0;
                transition: transform 400ms cubic-bezier(.25, .37, .17, .96);
                padding: 1px;
                color: #fff;
                background-color: rgb(20, 19, 19);
                font-family: Montserrat, sans-serif;
            }
            
            .header[data-scroll="out"] {
                transform: translatey(-100%);
            }
            
            [data-scroll-dir-y="-1"] .header {
                transform: translatey(0);
            }
            
            @media all and (min-width: 992px) {
                .navbar {
                    padding-top: 0;
                    padding-bottom: 0;
                }
                .navbar .has-megamenu {
                    position: static!important;
                }
                .navbar .megamenu {
                    left: 0;
                    right: 0;
                    width: 100%;
                    padding: 20px;
                }
                .navbar .nav-link {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
            
            .bg-primary {
                background-color: #ffffff!important;
            }
            
            .navbar-nav>li {
                padding-right: 20px;
            }
            
            .bg-grey {
                background: #292929;
            }
            
            .carousel-inner>.item {
                position: relative;
                display: none;
                -webkit-transition: 0.2s ease-in-out left;
                -moz-transition: 0.2s ease-in-out left;
                -o-transition: 0.2s ease-in-out left;
                transition: 0.2s ease-in-out left;
            }
            
            .logo-footer {
                margin-bottom: 40px;
            }
            
            footer {
                color: grey;
            }
            
            footer p,
            a {
                font-size: 12px;
                font-family: 'Roboto', sans-serif;
            }
            
            footer h6 {
                font-family: 'Playfair Display', serif;
                margin-bottom: 40px;
                position: relative;
            }
            
            footer h6:after {
                position: absolute;
                content: "";
                background: grey;
                width: 12%;
                height: 1px;
                left: 0;
                bottom: -20px;
            }
            
            .btn-footer {
                color: grey;
                text-decoration: none;
                border: 1px solid;
                border-radius: 43px;
                font-size: 13px;
                padding: 7px 30px;
                line-height: 47px;
            }
            
            .btn-footer:hover {
                text-decoration: none;
            }
            
            .form-footer input[type="text"] {
                border: none;
                border-radius: 16px 0 0 16px;
                outline: none;
                padding-left: 10px;
            }
            
             ::placeholder {
                font-size: 10px;
                padding-left: 10px;
                font-style: italic;
            }
            
            .form-footer input[type="button"] {
                border: none;
                background: #232323;
                margin-left: -5px;
                color: #fff;
                outline: none;
                border-radius: 0 16px 16px 0;
                padding: 13px 12px;
            }
            
            .social .fa {
                color: rgb(255, 255, 255);
                font-size: 22px;
                padding: 10px 15px;
                background: #3c3c3c;
            }
            
            footer ul li {
                list-style: none;
                display: block;
            }
            
            footer ul {
                padding-left: 0;
            }
            
            footer ul li a {
                text-decoration: none;
                color: grey;
                text-decoration: none;
            }
            
            a:hover {
                text-decoration: none;
                color: #e91b1b !important;
            }
            
            .logo-part {
                border-right: 1px solid grey;
                height: 100%;
            }
